<a href="https://colab.research.google.com/github/Diyaash/loops-functions-and-errors/blob/main/Loops%2C_Functions_and_errors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random
lst = input('Enter name of your best friends').split()
while True:
    a = input('Do you want to add more names? [Y/N]') #break -
    if a.upper() == 'Y':
         new_name = input('Enter the name') #append - it will add a value in the list at the end. and keep on adding it at the ends.

WHILE and RANDOM COMMAND

In [7]:
import random
donation = 0

target = 5000000
  # if we use the random command outside the while loop then it will choose one random value and then continue to add the same amount with every donation.
while donation >= target:
  random_donation = random.randint(100, 50000) # inside the while loop hence it will change with EVERY donation amount.
  print('current collection', donation)
  donation = donation + random_donation

  # break : it is used to break the working loop if we have not specified a condition like ' while donation <= target '

In [11]:
import random
fundraiser = 0

target = int(input('How much money do we want to raise for Animal Welfare Awareness?'))
while True:
  random_fund = random.randint(100, 10000)
  fundraiser = fundraiser + random_fund
  print('amount raised as of now', fundraiser)
  if fundraiser >= 100000:
    break

How much money do we want to raise for Animal Welfare Awareness?100000
amount raised as of now 7588
amount raised as of now 11958
amount raised as of now 17401
amount raised as of now 19706
amount raised as of now 21577
amount raised as of now 26926
amount raised as of now 36425
amount raised as of now 38135
amount raised as of now 39048
amount raised as of now 46418
amount raised as of now 49366
amount raised as of now 50434
amount raised as of now 55371
amount raised as of now 56265
amount raised as of now 57915
amount raised as of now 65984
amount raised as of now 75822
amount raised as of now 78407
amount raised as of now 86629
amount raised as of now 93254
amount raised as of now 99608
amount raised as of now 103549

In [7]:
from os import spawnve
from ast import increment_lineno
current_salary = int(input('what is your current salary?'))
target = 200000
savings = 0
save = 0.2 * current_salary

while savings <= target:
  savings += save

  print('you are this close! : ', savings)

what is your current salary?100000
you are this close! :  20000.0
you are this close! :  40000.0
you are this close! :  60000.0
you are this close! :  80000.0
you are this close! :  100000.0
you are this close! :  120000.0
you are this close! :  140000.0
you are this close! :  160000.0
you are this close! :  180000.0
you are this close! :  200000.0
you are this close! :  220000.0

FOR LOOP

In [5]:
for i in range(5):
  if i == 3:
    continue #skipping the operator of the condition : i == 3
  print(i)

0
1
2
4

In [9]:
for i in range(10):
  if i == 2:
    pass # to print only that value
    print(i)

2

In [13]:
def rand_var(a, b): #user-defined function
  z = a * b
  return z #print z
print(rand_var(2, 3)) # defining a and b values or it will take randomly

6

In [14]:
help(enumerate) #to know about anything in python

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable, start=0)
 |
 |  Return an enumerate object.
 |
 |    iterable
 |      an object supporting iteration
 |
 |  The enumerate object yields pairs containing a count (from start, which
 |  defaults to zero) and a value yielded by the iterable argument.
 |
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

DEFINING A FUNCTION AND Calling it

In [15]:
def square(x):
  """this function calculates the square of a number"""
  l  = x ** 2
  return l
#calling the function
l = square(6)
print(l)

36

OR

In [17]:
def cube(x):
  return pow(x, 2)

print(cube(3)) # or we can say, l = square(6) ; print(l)

9

FORMAT COMMAND - USED TO GIVE VALUES TO A FUNCTION WE DEFINE MULTIPE TIMES

In [21]:
def dodo(x = 21, name = 'diya', profession = 'analyst'):
  print("{} is {} years old and works as a {}".format(name, x , profession,))

dodo(74, 'Narendra Modi', 'Prime Minister')

Narendra Modi is 74 years old and works as a Prime Minister

DYNAMIC FUNCTION and PARAMETERS

In [23]:
def dynamic_func(*abc):   # * means we can give any number of parameters inside the ()
  param_1 = abc[0]        # * only defines elements that are numbers and not string values
  param_2 = abc[2]
  param_3 = abc[4]
  print((param_1 + param_2) * param_3)

dynamic_func(2, 25, 4, 75, 17)

102

In [24]:
6 * 17

102

In [ ]:
def dyn_info(**dyn_keys) # ** is used for any value ie string or keyword of number

L is a local variable here, if we take it out of the loop or function - and try to run - it wont work.

In [25]:
l  = x ** 2
def square(x):
  """this function calculates the square of a number"""

  return l
#calling the function
l = square(6)
print(l)

NameError: name 'x' is not defined

To make a local variable as global, we add the word - GLOBAL before the variable and then we can use it outside the function

In [28]:
def square(x):
  L = x ** 2
  return l
l = square(3)
print(l)

36

### LAMBDA FUNCTION - VERY IMPORTANT - defines a simple func for a short duration- doesnt continue the variables oitside the func

In [37]:
age = lambda a: a + 50
print(age(21))

71

MAP LAMBDA - FOR MULTIPLE VALUES IN A **LIST**

In [40]:
age = [21, 22, 23, 24, 25]

output = list(map(lambda x: x + 50, age)) # map uses two arguments - first the operation, then define the list we are using
print(output)

[71, 72, 73, 74, 75]

FILTER LAMBDA - filter out the values from the lambda funtion from the list

In [41]:
age = [15, 16, 19, 20, 25, 30]

output = list(filter(lambda x: x >= 20, age)) # filter func filters the values in the list as per the condition defined

print(output)

[20, 25, 30]

In [42]:
10 / 0

ZeroDivisionError: division by zero

TRY EXCEPT FINALLY

In [44]:
try:
  result = int(input('Please give a number '))
  print(result)
except ZeroDivisionError: # the error expected ie not compulsory we can only write except also ->
  print('Zero division error')
finally:
  print('zero!')

Zero division error
value!